<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="/img/netflix.png" alt="Bootstrap" width="100" height="60">
          </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Atores
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/ator">Relat칩rio dos atores</a></li>
              <li><a class="dropdown-item" href="/ator/cadastrar">Cadastrar atores</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Filmes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/filme">Relat칩rio de filmes</a></li>
              <li><a class="dropdown-item" href="/filme/cadastrar">Cadastrar filmes</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usu치rios
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/usuarios">Relat칩rio</a></li>
              <li><a class="dropdown-item" href="/usuarios/cadastrar">Cadastrar</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="usuarios/sair">Sair</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--senha:vUL1lxuLCKALI2XU 
  mongodb+srv://eduarda47:vUL1lxuLCKALI2XU@cluster0.v6r8io5.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0 -->