<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <%- include("partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
   <a href="/alunos">Relatório de alunos</a><br>
   <a href="/alunos/cadastrar">Cadastrar</a>  <br>
    <a href="/usuarios/cadastrar">Cadastrar Usuario</a> <br>
    <a href="/usuarios">relatorio de Usuarios</a>
 </div>

   <%- include("partials/rodape.ejs") %>
</body>
</html>