<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <%- include("partials/cabecalho.ejs") %>
</head>
<body style="background-color:black">
    <div class="container">
    <h2 style="color:aliceblue">Filmes</h2>
   <a href="/filme">Relatório de filmes</a><br>
   <a href="/filme/cadastrar">Cadastrar</a>  <br><br>


    <h2 style="color:aliceblue">Atores</h2>
   <a href="/ator">Relatório dos atores</a><br>
   <a href="/ator/cadastrar">Cadastrar</a>  <br><br>

   <h2 style="color:aliceblue">Usuários</h2>
    <a href="/usuarios/cadastrar">Cadastrar Usuario</a> <br>
    <a href="/usuarios">relatorio de Usuarios</a>
 </div>

   <%- include("partials/rodape.ejs") %>
</body>
</html>